<EditForm Model="car" OnValidSubmit="OnValidSubmit">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Model Name</label>
                    <InputText class="form-control" id="model" @bind-Value="@car.Model" />
                </div>
                <div class="form-group">
                    <label for="ManufactureDate">Manufacture Date</label>
                    <InputDate class="form-control" id="ManufactureDate" @bind-Value="@car.ManufactureDate" />
                </div>
                <div class="form-check">
                    <InputCheckbox id="IsAvailable" @bind-Value="@car.IsAvailable" />
                    <label for="IsAvailable">Available?</label>
                </div>
                <div class="form-control-file my-2">
                    @if (string.IsNullOrEmpty(car.ImageUrl))
                    {
                        <img src="/images/noimg.jpg" height="80" width="80" />
                    }
                    else
                    {
                        <img src="@car.ImageUrl" height="80" width="80" />
                    }
                    <InputFile OnChange="OnFileChange" class="form-control" accept="image/*" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">
                        @if (car.Id == 0)
                        {
                            <span>Create</span>
                        }
                        else
                        {
                            <span>Update</span>
                        }
                    </button>
                    <button @onclick="Clear" type="button" class="btn btn-info">Clear</button>
                </div>
                <div class="form-group">
                    <br />
                    <a href="cars" class="btn btn-secondary">Back to Car List</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="button" @onclick="@(()=>car.ServiceCenters.Add(new ServiceCenter()))">Add Service Center</button>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sl.</th>
                            <th>Location</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < car.ServiceCenters.Count; i++)
                        {
                            var index = i;
                            var add = car.ServiceCenters[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td><InputText class="form-control" id="name" @bind-Value="@add.Location" /></td>
                                <td><InputText class="form-control" id="name" @bind-Value="@add.City" /></td>
                                <td>
                                    <button class="btn btn-danger btn-sm" type="button" @onclick="@(()=>car.ServiceCenters.RemoveAt(index))">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public Car car { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = e.File.ContentType;
        var resizedImage = await e.File.RequestImageFileAsync(format, 1060, 1060);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        car.ImageUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
    }
    private void Clear()
    {
        car = new Car();
    }
}
